.cases {
    max-width: 102.4rem;
    width: 26rem;
    position: relative;
    z-index: 5;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);

    @media screen and(min-width: $viewport__sm) {
        width: 34rem;
    }

    @media screen and(min-width: $viewport__md) {
        width: 56rem;
    }

    @media screen and(min-width: $viewport__lg) {
        width: 62rem;
    }
}

.case {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 20rem);
    padding: 10rem 0;
    color: $color__contrast;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    width: calc(100% - 1.8rem);

    @media screen and (min-width: $viewport__sm) {
        width: calc(100% - 3.9rem);
    }

    // 3D
    transform-origin: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 300px;

    &__initial {
        transform: rotateX(5deg) rotateY(-5deg) translateY(0vh) rotate3d(1, 10, 10, 90deg) scale(0.5);
        opacity: 0;
    }

    &__title {
        &--wrapper {
            position: relative;
            z-index: 15;
        }

        margin: 0 0 3.2rem 0;
        font-family: 'BigNoodle';
        font-size: 4rem;
        letter-spacing: 0.4rem;
        position: relative;
    }

    &__videos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: rotate(10deg) skew(10deg);
        margin-bottom: 0;
    }

    &__video {

        &--wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            margin-bottom: 4.8rem;
            
            &:hover {
                &>.case__videos>.case__video--center {
                    filter: grayscale(0%);
                }

                &>.case__videos>.case__video--before {
                    filter: brightness(90%) grayscale(0%);
                }

                &>.case__videos>.case__video--after {
                    filter: brightness(80%) grayscale(0%);
                }
            }
        }

        height: 100%;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-image: url('../static/images/dotcontrol.gif');
        transform: rotate(10deg) skew(10deg);
        position: relative;
        box-shadow: $shadow 3px -2px 10px;
        position: relative;
        z-index: 15;

        &--center, &--before, &--after {
            object-fit: cover;
            transition: 1.4s cubic-bezier(0.19, 1, 0.22, 1);
            cursor: pointer;
        }

        &--center {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
        }

        &--before {
            content: '';
            transition: 1.4s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            z-index: 10;
            transform-origin: bottom center;
            top: -$depth__mobile;
            transform: skewX(-45deg);
            width: 100%;
            height: $depth__mobile;
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center center;
            // background-image: url('../static/images/dotcontrol.gif');
            filter: brightness(90%) grayscale(100%);

            @media screen and(min-width: $viewport__sm) {
                top: -$depth;
                height: $depth;
            }
        }

        &--after {
            content: '';
            transition: 1.4s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            z-index: 5;
            transform-origin: right;
            top: -$depth__mobile;
            left: 100%;
            transform: skewY(-45deg);
            width: $depth__mobile;
            height: 100%;
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center center;
            // background-image: url('../static/images/dotcontrol.gif');
            filter: brightness(80%) grayscale(100%);

            @media screen and(min-width: $viewport__sm) {
                top: -$depth;
                width: $depth;
            }
        }
    }

    &__cta {
        &--wrapper {
            position: relative;
            z-index: 15;
        }

        font-family: 'Vollkorn';
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
        color: $color__primary;
        text-align: end;

        &--inner {
            padding: 0 1rem;
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            position: relative;

            &:hover {
                color: $color__primary;
                background-color: $color__contrast;
                transform: rotate(10deg) skew(10deg) translate3d(-50px, 50px, 0px);

                &::before {
                    background-color: $color__contrast--light;
                    top: -$depth__cta;
                    height: $depth__cta;
                }

                &::after {
                    background-color: $color__contrast--dark;
                    top: -$depth__cta;
                    width: $depth__cta;
                }
            }

            &::before {
                content: '';
                transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                position: absolute;
                z-index: 10;
                transform-origin: bottom center;
                top: -$depth__mobile;
                left: 0;
                transform: skewX(-45deg);
                width: 100%;
                height: $depth__mobile;
            }

            &::after {
                content: '';
                transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                position: absolute;
                z-index: 5;
                transform-origin: right;
                top: -$depth__mobile;
                left: 100%;
                transform: skewY(-45deg);
                width: $depth__mobile;
                height: 100%;
            }
        }
    }
}

.video--large {
    @media screen and(min-width: $viewport__sm) {
        transform: rotate(10deg) skew(10deg) translate3d(-50px, 50px, 0px);
    }

    &::before {
        @media screen and(min-width: $viewport__sm) {
            top: -$depth__large;
            height: $depth__large;
        }
    }

    &::after {
        @media screen and(min-width: $viewport__sm) {
            top: -$depth__large;
            width: $depth__large;
        }
    }
}

.case--normal {
    transform: rotate(0) skew(0);
}