.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 16.8rem);
    padding: 8.4rem 0;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 190;
    background-color: $color__contrast;
    transition: left 0.6s cubic-bezier(0.77, 0, 0.175, 1);

    @media screen and (min-width: $viewport__md) {
        width: 32rem;
        top: -0.6rem;
        height: calc(100vh - 16.8rem);
        padding: 10rem 0;
    }

    &__active {
        left: 0;

        @media screen and (min-width: $viewport__md) {
            left: -0.8rem;
            top: -0.6rem;
            height: calc(100vh - 16.8rem);
            padding: 10rem 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 3.2rem;
        width: calc(100% - 6.4rem);

        &__head {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media screen and (min-width: $viewport__md) {
                align-items: flex-start;
            }
        }

        &__title {
            font-family: 'BigNoodle';
            font-weight: 500;
            font-size: 6.3rem;
            color: $color__cream ;
            margin: 0 0 0.6rem 0;
        }

        &__subtitle {
            font-family: 'Vollkorn';
            font-weight: 400;
            font-size: 2rem;
            color: $color__primary ;
            margin: 0 0 1.6rem 0;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 25.6rem;
        height: 4.8rem;
        // border-top: 0.1rem solid $color__primary;

        @media screen and (min-width: $viewport__md) {
            // margin: 0 0 0 3.2rem;
        }

        &__el {
            width: 4.4rem;
            height: 4.4rem;
            margin: 0 0.5rem;
            background-size: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

            &:hover {
                background-color: $color__cream;
                transform: translate3d(-6px, 6px, 0px);

                &::before {
                    background-color: $color__cream--light;
                    top: -$depth__cta;
                    height: $depth__cta;
                }

                &::after {
                    background-color: $color__cream--dark;
                    top: -$depth__cta;
                    width: $depth__cta;
                }
            }

            &::before {
                content: '';
                transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                position: absolute;
                z-index: 10;
                transform-origin: bottom center;
                top: -$depth__mobile;
                left: 0;
                transform: skewX(-45deg);
                width: 100%;
                height: $depth__mobile;
            }

            &::after {
                content: '';
                transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                position: absolute;
                z-index: 5;
                transform-origin: right;
                top: -$depth__mobile;
                left: 100%;
                transform: skewY(-45deg);
                width: $depth__mobile;
                height: 100%;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &--github {
                background-image: url('../static/images/icons/github.svg');
            }

            &--linkedin {
                background-image: url('../static/images/icons/linkedin.svg');
            }

            &--codepen {
                background-image: url('../static/images/icons/codepen.svg');
            }

            &--dribbble {
                background-image: url('../static/images/icons/dribbble.svg');
            }

            &--twitter {
                background-image: url('../static/images/icons/twitter.svg');
            }
        }
    }

    &__main {
        width: 100%;
        height: calc(100% - 2.4rem);
        margin-bottom: 2.4rem;
        position: relative;
        margin: 0 3.2rem;
        width: 25.6rem;;
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: 'BigNoodle';
        width: 2.4rem;
        height: 4.4rem;
        position: absolute;
        z-index: 50;
        top: calc(50% - 2.2rem);
        right: 0;
        background-color: $color__cream;
        cursor: pointer;
        transform: rotate(10deg) skew(10deg) translate3d(-10px, 6px, 0px);

        &::before {
            content: '';
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            z-index: 10;
            transform-origin: bottom center;
            top: -$depth__cta;
            left: 0;
            transform: skewX(-45deg);
            width: 100%;
            height: $depth__cta;
            background-color: $color__cream--light;
        }

        &::after {
            content: '';
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            z-index: 5;
            transform-origin: right;
            top: -$depth__cta;
            left: 100%;
            transform: skewY(-45deg);
            width: $depth__cta;
            height: 100%;
            background-color: $color__cream--dark;
        }
    }
}