@keyframes translateX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes loaderEnds {
    0% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(150%);
        display: none;
    }
}

@keyframes loader {
    0% {
        transform: scaleX(1);
    }
    10% {
        transform: scaleX(1.5);
    }
    50% {
        transform: scaleX(1.5);
    }
    60% {
        transform: scaleX(1.5);
        height: 120vh;
    }
    100% {
        transform: scaleX(1.5);
        height: 120vh;
    }
}

.grain {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    overflow: hidden;
}

[data-aos="init"] {
    &.aos-animate {
        transform: none;
        opacity: 1;
    }
}

[data-parallax] {
    will-change: transform;
}

.parallax--transition {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.side-text {
    transform: rotate(10deg) skew(10deg);
    text-shadow:
    3px 5px 14px $shadow,
    1px -1px $color__primary,
    2px -2px $color__primary,
    3px -3px $color__primary,
    4px -4px $color__primary;
}

.side-paragraph {
    transform: rotate(10deg) skew(10deg);
}