html {
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;
    background-color: $color__cream;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}